<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Joggue - Perguntas Frequentes</title>
<!-- <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" -->
<!-- 	rel="stylesheet" /> -->
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
<!-- <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" -->
<!-- 	rel="stylesheet" /> -->
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Perguntas Frequentes</h1>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Pergunta</th>
						<th>Resposta</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pergunta : ${perguntas}">
						<td th:text="${pergunta.titulo}"></td>
						<td th:text="${pergunta.resposta}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>


// parei na pagina 43
// ver --> https://springframework.guru/using-the-h2-database-console-in-spring-boot-with-spring-security/
//https://go.springframework.guru/sfg-intro-to-spring-asdf4423

